<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    {% if quote %}
    <h2>jinja2 {{ quote }}</h2> 
    {% else %}
    <h2>No variable info</h2> 
    {% endif %}
    
    <h2>My favorites fruits are : </h2>
    <ul>
        {% for fruit in fruits %}
        <li>{{ fruit }}</li>
        {% endfor %}
    </ul>


</body>
</html>